<h2>Subscriptions</h2>
<p class="text-muted">
  Subjects:{% for subject in user.subscriber.interests.all %} {{ subject.get_html_badge }}{% endfor %}
  <a href="{% url 'subscribers:subscriber_file_interests' %}"><small>(update interests)</small></a>
</p>

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link{% if active == 'Related' %} active{% endif %}" href="{% url 'subscribers:related_file_list' %}">Related</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'Subscribed' %} active{% endif %}" href="{% url 'subscribers:sub_file_list' %}">Subscribed</a>
  </li>
</ul>