{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'publishers:file_list' %}">My Files</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ document.description }}</li>
    </ol>
  </nav>
  <h2 class="mb-3">
    {{ document.name }}
    <a href="{% url 'publishers:file_results' document.pk %}" class="btn btn-primary float-right">View details</a>
  </h2>
  <div class="row mb-3">
    <div class="col-md-6 col-sm-8 col-12">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Save changes</button>
        <a href="{% url 'publishers:file_list' %}" class="btn btn-outline-secondary" role="button">Nevermind</a>
        <a href="{% url 'publishers:file_delete' document.pk %}" class="btn btn-danger float-right">Delete</a>
      </form>
    </div>
  </div>