{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">My Files</li>
    </ol>
  </nav>
  <h2 class="mb-3">My Files</h2>
  <a href="{% url 'publishers:file_upload' %}" class="btn btn-primary mb-3" role="button">Add file</a>
  <div class="card">
    <table class="table mb-0">
      <thead> 
        <tr>
          <th>Label</th>
          <th>Subject</th> 
          <th>Created at</th>
          <!-- <th>Last Updated</th> -->
          <!-- <th>Total Collabration</th>
          <th>Total subscrption</th> -->
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
          <tr>
           <!--  <td class="align-middle"><a href="{% url 'publishers:file_change' file.pk %}">{{ file.description }}</a></td> -->
            <td class="align-middle">{{ file.description }}</td>
            <td class="align-middle">{{ file.subject.get_html_badge }}</td> 
            <td class="align-middle">{{ file.uploaded_at }}</td>
            <!-- <td class="align-middle">{{ file.document.path }}</td> -->
            <!-- <td class="align-middle">{{ file.collabrator_count }}</td>
            <td class="align-middle">{{ file.subscriber_count }}</td> -->
            <td class="text-right">
              <a href="{% url 'publishers:file_results' file.pk %}" class="btn btn-primary">View details</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You haven't created any file yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
